<h1>
  <%= gravatar_for @user %> <%= @user.name %>  
</h1>
<hr />
<div class="well">
  <%= @user.description %>
</div>
<ul class="list-group">
  <li class="list-group-item"><%= mail_to @user.email, "メール送付", encode: "hex" %></li>
</ul>