
<% if signed_in? %>

<% else %>
  <div class="jumbotron">    
    <h1>Holmon <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %></h1>
    <%= link_to "Github Source", "https://github.com/kntmrkm/holmon", class: "btn btn-default", target: "_blank" %>
    <%= link_to "設計文書（暫定）", "https://docs.google.com/document/d/1W7V340_0sDMzhJX0FBvgrTepctcHVhVjvivD_idPYSA/edit?usp=sharing", class: "btn btn-default", target: "_blank" %>
    
    <p>テストとして下記のユーザでサインインできます。
      <ul class="nav">
        <li>デモユーザ：demo@holmon.jp/demo</li>
      </ul>
    </p>
  </div>
<% end %>
<% if @posts %>
  <%= render partial: "posts/post", collection: @posts%>
<% end %>
