<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@post, url: user_posts_path(current_user)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= render "fields", f: f %>
      
      <div class="form-group">
        <%= f.submit "POST", class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
    
  </div>
</div>
