<footer>
  <div class="row">
    <div class="col-sm-6"> 
        
    </div>
    <div class="col-sm-6"> 
        <nav>
          <ul class="nav">
            <li>岡山県北IT勉強会</li>
          </ul>
        </nav>
    </div>
  </div>
</footer>